{% load base.html %}
{% block content % }
<tbody style="">
{% for s in stored%}
<tr __gwt_row="{{s.id}}" __gwt_subrow="{{s.id}}" class="GKKE-R-BPC">
	<td class="GKKE-R-BOC GKKE-R-BAD GKKE-R-BBD">
		<div style="outline-style:none;" __gwt_cell="cell-gwt-uid-67">
			<!--<span class="GKKE-R-BKM GKKE-R-BFI" role="checkbox" tabindex="-1">
				<div class="GKKE-R-BLM "></div>
			</span>-->
		</div>
	</td>
	<td class="GKKE-R-BOC GKKE-R-BAD">
		<div style="outline-style:none;" __gwt_cell="cell-gwt-uid-68">
		<a href="{{s.original}}" tabindex="-1" target="_blank">{{s.original}}</a></div>
	</td>
	<td class="GKKE-R-BOC GKKE-R-BAD">
		<div style="outline-style:none;" __gwt_cell="cell-gwt-uid-69">s.created</div>
	</td>
	<td class="GKKE-R-BOC GKKE-R-BAD"><div style="outline-style:none;" __gwt_cell="cell-gwt-uid-70"><a href="http://u.zzn.im/{{s.short}}" tabindex="-1" target="_blank">u.zzn.im/{{s.short}}</a></div></td>
	<td class="GKKE-R-BOC GKKE-R-BAD">
		<div style="outline-style:none;" __gwt_cell="cell-gwt-uid-71">
		<a href="info/{{s.short}}#week" tabindex="-1" target="_blank">Details</a>
				
		<!-- <a href="info/BN3EV#week" tabindex="-1" target="_blank">Details</a>
		-->
		</div>
	</td>
	<td class="GKKE-R-BOC GKKE-R-BAD GKKE-R-BLD"><div style="outline-style:none;" __gwt_cell="cell-gwt-uid-72">0</div></td></tr>
{% endfor %}

</tbody>

{% endblock %}
